/* ---------------------- In AdminProduct.jsx ---------------------- */

.adminProductCard {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: fit-content;
  width: fit-content;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 0px 5px lightgrey;
  font-family: 'Alexandria', sans-serif;
  
}

/* ---------------------- In AdminProducts.jsx ---------------------- */
.adminProducts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 0 0 0;
  /* border: 3px solid red; */
}

/* ---------------------- In CreateProduct.jsx ---------------------- */

.createProductCard {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 0, 0, 0.64);
  color: white;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  width: 300px;
  margin: 25px 0 0 0;
  font-family: 'Alexandria', sans-serif;
}
.createProductCardDiv {
 /* display: flex;
  justify-content: center; */
}
.createProductForm {
  /*  */
}
.subCreateProductFormDiv{
  display: flex;
  flex-direction: column;
}
.inputCP{
  padding: 7px;
  border: none;
  border-radius: 16px;
  width: 200px;
}

/* -------Submit Button------- */

.buttonSubmit {
  border: none;
  background-color: white;
  border-radius: 16px;
  color: rgba(255, 0, 0, 0.814);
  padding: 8px 8px;
  margin-top: 10px;
  justify-content: flex-end;
  align-self: flex-start;
  font-family: 'Alexandria', sans-serif;
}

.buttonSubmit:hover {
  color: white;
  background-color: rgb(126, 194, 126);
  transform: scale(1.1);
}

.buttonSubmitF:active {
  transform: scale(1);
}

/* ---------------------- In User.jsx ---------------------- */
.userCard {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 0px 5px lightgrey;
  color: black;
  padding: 10px;
  width: fit-content;
  height: 150px;
  margin: 25px 0 10px 0;
  font-family: 'Alexandria', sans-serif;
}

.isAdmin {
  color: red;
}

.isNotAdmin {
  color: blue;
}

/* ---------------------- In Users.jsx ---------------------- */

.userList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* border: 3px solid red; */
}
.adminButton{
  background-color: rgba(255, 228, 196, 0);
  color: white;
  white-space: nowrap;
  font-family: 'Alexandria', sans-serif;
  font-size: 20px;
  border: none;
  margin-left: 20px;
  margin-right: 20px;
}
.adminBar{
  display: flex;
  background-color: black;
  padding: 18px;
  justify-content: space-between;
  max-height: 30px;
}
.editMessage{
  font-size: 20px;
  margin-bottom: 10px;
  text-decoration: underline;
}


/* ---------------------- In EditProduct.jsx ---------------------- */
.adminEditProductForm{
  display: flex;
  flex-direction: column;
}

.adminProductError{
  background-color: rgb(230, 62, 62);
  color: white;
  font-weight: 500;
  align-self: flex-start;
  border: none;
  padding: 5px;
  margin-top: 5px;
  font-family: 'Alexandria', sans-serif;
}