/* ---------------------- In ProductSearch.jsx ---------------------- */
.productPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* -------Search bar------- */

.productSearchForm {
}
.productSearchInput {
  background-color: rgb(228, 228, 228);
  width: 500px;
  margin: 10px;
  padding: 15px;
  border: none;
}

.productSearchInput:active {
  border: none;
}

.productSearchInput:focus {
  border: none;
}

/* ---------------------- In Products.jsx ---------------------- */

.products {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.productsLink {
  text-decoration: none;
  color: black;
}
/* ---------------------- In Product.jsx ---------------------- */

.productCard {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: auto;
  width: 300px;
  margin: 10px;
  padding: 10px;
  font-family: 'Alexandria', sans-serif;
}

.productCard:hover {
  box-shadow: 0px 0px 10px darkgray;
}

/* -------General Product Info------- */

.productImage {
  height: 550px;
  width: auto
}

.productInfo {
}

.productFinalPrice {
  margin: 3px;
  font-size: 20px;
  font-weight: 500;
}

.productInventory {
  margin: 3px;
  font-size: 15px;
}
/* -------If product.on_sale === true------- */
.productSale {
}

.discountRow {
  display: flex;
  width: 150px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid black; */
}

.salePercentage {
  width: fit-content;
  background-color: red;
  color: white;
  font-size: 13px;
  font-weight: 400;
  padding: 5px;
}

.productInitialPrice {
  color: grey;
  font-size: 15px;
  margin-left: 5px;
}
/* -------If product.on_sale === false------- */

.productNoSale {
}

/* ---------------------- In ProductAddToCart.jsx ---------------------- */

.buttonAddToCart {
  align-self: center;
margin-top: 20px;
padding: 10px 10px;
background-color: #7a7878;
border-radius: 16px;
color: white;
border: none;
font-family: 'Alexandria', sans-serif;
font-size: 12px;
width: 100px;
}

.buttonAddToCart:hover {
  background-color: rgb(126, 194, 126);
  transform: scale(1.1);
}

.buttonAddToCart:active {
  transform: scale(1);
}

/* ---------------------- In ViewOfProducts.jsx ---------------------- */
.viewCard {
  background-color: rgb(228, 228, 228);
  padding: 20px;
  display: flex;
  font-family: 'Alexandria', sans-serif;
  flex-wrap: wrap;
  flex-direction: column;
}
.viewCardDiv {
  display: flex;
}

.productView {
   display: flex;
  flex-direction: column; 
}

.productImageView {
  width: 250px;
  height: auto;
  /* border: 2px solid black; */
  rotate: 90deg;
  display: flex;
  align-self: center;
  margin: -120px;
  
}

.productInfoView {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.nameView {
  /* margin: 5px;
  height: 40px; */
  display: flex;
  font-size: 25px;
}

.priceView {
  margin-top: 10px;
font-size: 28px;
}

.addView {
  align-self: center;
  margin-top: 20px;
  padding: 15px 20px;
  background-color: #7a7878;
  border-radius: 16px;
  color: white;
  border: none;
  width: 200px;
}
.addViewButton{
  /* font-family: 'Alexandria', sans-serif;
  font-weight: 900;
  font-size: 16px; */
  /* these are not working with the add to cart element */

}
.backButton {  
align-self: center;
margin-top: 20px;
padding: 10px 10px;
background-color: black;
border-radius: 16px;
color: white;
border: none;
font-family: 'Alexandria', sans-serif;
font-weight: 900;
font-size: 16px;
width: 100px;
}