
.cartPageDiv{
    display: flex;
    justify-content: space-around;
    font-family: 'Alexandria', sans-serif;
}
.cartProduct{
    display: flex;
    /* justify-content: space-between; */
    gap: 20px;
    margin-bottom: 50px;
    }
    .cartProductDiv{
    max-width: 50%;
    margin: 20px;
    }
  .quantityButton{
    margin: 3px;
    border: none;
    background-color: #7a7878;
    color: white;
    font-size: 18px;
    border-radius: 10px;
  }
.remove{
    text-decoration: underline;
    color: rgb(54, 54, 122);
}
.remove:hover{
  cursor: pointer;
}
.checkoutDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #cecdcd;
    max-height: 200px;
    border-radius: 30px;
}
.checkoutButton {
    margin-top: 20px;
    padding: 10px 10px;
    background-color: black;
    border-radius: 16px;
    color: white;
    border: none;
    font-family: 'Alexandria', sans-serif;
    font-weight: 900;
    font-size: 16px;
    width: 200px;
  }
  .checkoutButton:hover{
    background-color: #7a7878;
  }
  .cartHeader{
    font-family: 'Alexandria', sans-serif;
    margin: 30px;
  }
  .checkoutForm{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    gap: 5px;
  }
  .checkoutFormDiv{
    display: flex;
    flex-direction: column;
    font-family: 'Alexandria', sans-serif;
  }
  .finalSubmitButton{
    align-self: center;
    margin-top: 20px;
    padding: 10px 10px;
    background-color: black;
    border-radius: 16px;
    color: white;
    border: none;
    font-family: 'Alexandria', sans-serif;
    font-weight: 900;
    font-size: 16px;
    width: 200px;
  }
  .finalSubmitButton:hover{
    background-color: #7a7878;
  }
  .addressInput{
    max-height: 20px;
  }
  .cartProductImage{
    height: 300px;
  }
  .userCompletedCarts{
    display: flex;
    /* justify-content: space-between; */
    gap: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
  }
  .orderHistoryContainer{
    font-family: 'Alexandria', sans-serif;
  }
  .individualOrderHistoryProduct{
    margin-bottom: 10px;
  }
  .infoDiv{
    margin-bottom: 2px;
  }