/* ---------------------- In Navbar.jsx ---------------------- */

#navbar {
  background-image: url("https://i.imgur.com/GHFSBsW.png");
  display: flex;
  flex: row;
  justify-content: space-between;
  height: 7em;



  /* border: 3px solid red; */
}

/* -------Logo ------- */

.logoLink {
  display: flex;
  align-items: flex-start;
  margin: 10px; 
  text-decoration: none;
  /* border: 2px solid green; */
}

.logo {
  margin-top: 40px;
  width: 350px;
  color: white;
}

/* -------Nav Buttons ------- */

.navButtonGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.navButton {
  border: none;
  background-color: #7a7878;
  white-space: nowrap;
  color: white;
  /* font-family: 'Roboto Mono', monospace; */
  font-family: 'Alexandria', sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  padding: 7px;
  margin: 65px 5px 0 5px;
}

.navButton:hover {
  text-decoration: underline;
}

.navButton:active {
  transform: scale(1);
}

.navGreeting {
  color: black;
  font-family: 'Alexandria', sans-serif;
  white-space: nowrap;
  margin-right: 10px;
  font-size: 16px;
  margin-bottom: 85px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  font-weight: 400;

}
.formDiv{
  display: flex;
  justify-content: center;
}
.headDiv{
  font-family: 'Alexandria', sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  font-size: 15px;
  color: #7a7878;
}
.subHeader{
  font-size: 25px;
  align-self: center;
  margin-bottom: 50px;
  color: black;
}
.submitButton{
  align-self: center;
  margin-top: 20px;
  padding: 15px 20px;
  background-color: black;
  border-radius: 16px;
  color: white;
  border: none;
  font-family: 'Alexandria', sans-serif;
  font-weight: 900;
  font-size: 16px;
  width: 200px;
}
.submitButton:hover{
  background-color: #7a7878;
}
.input{
  padding: 8px;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 14px;
}
.registerHere{
  color: black;
}
.registerHereP{
  align-self: center;
  margin-top: 15px;
}
.saleImage{
  width: 100%;
  margin-top: 20px;
}
.saleImage2{
  width: 80%;
  display: flex;
  /* align-self: center; */
  /* align-content: center; */
  justify-content: center;
  /* margin-top: 20px; */
}
.clickBelow{
  margin-left: 10px;
  margin-top: -15px;
  font-family: 'Alexandria', sans-serif;
  font-size: 13px;
  font-style: italic;

}
.saleLink{
  display: flex;
  justify-content: center;
}
.newIn {
  font-family: 'Alexandria', sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  margin-top: 40px;
}
.featProductDiv {
  display: flex;
  justify-content: center;
}