/* ---------------------- In Navbar.jsx ---------------------- */

#navbar {
  background-image: url("https://i.imgur.com/GHFSBsW.png");
  display: flex;
  flex: row;
  justify-content: space-between;
  height: 7em;

  /* border: 3px solid red; */
}

/* -------Logo ------- */

.logoLink {
  display: flex;
  align-items: flex-start;
  margin: 10px; 
  text-decoration: none;
  /* border: 2px solid green; */
}

.logo {
  margin-top: 40px;
  width: 350px;
  color: white;
}

/* -------Nav Buttons ------- */

.navButtonGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.navButton {
  border: none;
  background-color: #7a7878;
  white-space: nowrap;
  color: white;
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  font-size: 15px;
  padding: 7px;
  margin: 65px 5px 0 5px;
}

.navButton:hover {
  text-decoration: underline;
}

.navButton:active {
  transform: scale(1);
}

.navGreeting {
  color: darkblue;
  white-space: nowrap;
  margin-right: 10px;
}

