.myAccount {
    font-family: 'Alexandria', sans-serif;
}
.myAccountDiv {
    font-family: 'Alexandria', sans-serif;
    display: flex;
    flex-direction: row;
  margin: 30px 50px 10px 50px;
  justify-content: center;
  gap: 70px;
}
.accountInfo{
display: flex;
flex-direction: column;
gap: 16px;
}
.accountInfoHeader{
    font-size: 25px;
}

.yourCartButton{
    background-color: black ;
    color: white;
    margin: 20px 3px 0 3px;
    padding: 10px 10px;
    border-radius: 16px;
    border: none;
    font-family: 'Alexandria', sans-serif;
    font-size: 12px;
    width: 100px;
}
.yourCartButton:hover{
background-color: #7a7878;
}

.editAccountInput{
    margin: 2px 0 3px 0;
    padding: 3px;
    display: flex;
    min-width: 200px;
}
.editAccountMessage{
    font-size: 21px;
    margin: 2px 0 10px 0;
}
